TPN_USERNAME=
TPN_PASSWORD=
TPN_LOGIN_URL=https://connect.tpnsecure.com/
TIMEZONE=Europe/London
HEADLESS=true
WORKING_DAYS_TO_EXPORT=7
SERVICE_PREFIX=DD
DATE_MODE=last_working_day
TPN_HOLIDAYS=
REFRESH_TOKEN=change-me
AUTO_REFRESH_ON_START=true
